<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031797397028-7nr615vjepbdonuo4k7h7lu56ticopbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031797397028-7nr615vjepbdonuo4k7h7lu56ticopbo</string>
	<key>API_KEY</key>
	<string>AIzaSyDRagOZjLhaAtokhj5GHU1xlPIzoVcafb8</string>
	<key>GCM_SENDER_ID</key>
	<string>1031797397028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.vitus.sample</string>
	<key>PROJECT_ID</key>
	<string>sample-ab3b0</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-ab3b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031797397028:ios:a5befdf508467c35896ab1</string>
	<key>DATABASE_URL</key>
	<string>https://sample-ab3b0.firebaseio.com</string>
</dict>
</plist>